.App {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  color: #010101;
  min-height: 100vh;
  background: linear-gradient(110deg, #bccbde 60%, #431c5d 60%);
}
